.picimages__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	width: 80%;
	margin: auto;
	padding: 2rem 0;
}


@media (min-width: 320px){
	.picimages__container {
		grid-template-columns: 1fr;
		width: 90%;
	}
}

@media (min-width: 768px){
	.picimages__container {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media (min-width: 1024px){
	.picimages__container {
		grid-template-columns: repeat(3, 1fr) !important;
	}
}

@media (min-width: 1280px){
	.picimages__container {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		width: 80% !important;
	}
}