.pictureCategories ul {
	display: flex;
	margin: 0 !important;
	padding: .5rem 1rem !important;
	overflow: hidden;
	overflow-x: scroll;
	scrollbar-width: none;
}

.pictureCategories ul li {
	list-style: none;
	margin: 0 1rem;
}

.pictureCategories ul li a {
	text-decoration: none;
	color: rgba(33, 43, 73, 0.8);
}

.herosection {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		url('../assets/henrique-ferreira-a42M7a6T1jw-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.herosection .herosection__content {
	color: white;
	width: 40%;
}

.herosection .herosection__content h2 {
	font-family: 'Noto Sans', sans-serif;
	/* width: 70%; */
}

.herosection .herosection__image {
	width: 100vw;
	height: 500px;
}

.herosection .herosection__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(70%);
}

@media (min-width: 320px) {
	.herosection {
		height: 300px;
	}

	.herosection .herosection__content {
		color: white;
		width: 80%;
	}

	.herosection .herosection__content h5 {
		font-size: .9rem !important;
	}

	.herosection .herosection__content h1 {
		font-size: 1.3rem !important;
	}
	.herosection .herosection__content h3 {
		font-size: .95rem !important;
	}

	.pictureCategories ul {
		width: 600px;
	}

	.pictureCategories ul li {
		margin: .5rem !important;
	}
}

@media (min-width: 768px) {
	.pictureCategories ul {
		width: unset;
	}

	.pictureCategories ul li {
		margin: 1rem !important;
	}
}

@media (min-width: 1024px) {
	.herosection {
		height: 450px !important;
	}

	.herosection .herosection__content {
		width: 50% !important;
	}

	.herosection .herosection__content h5 {
		font-size: 1.3rem !important;
	}

	.herosection .herosection__content h1 {
		font-size: 2rem !important;
	}
	.herosection .herosection__content h3 {
		font-size: 1.5rem !important;
	}
}
